* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0px;

}

p.center {
    margin-left: 0;
    text-align:center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100vw;
    height: 100vh;
}

.container div#sidebar {
    background-color: black;
    width: 12vw;
    height: 100%;
    color: white;
    margin: 0;
}
.container div#gamearea {
    background-color: gray;
    width: 88vw;
    height: 100%;
    color: white;
    margin: 0;
}